[submodule "ams_game/third_party/glfw"]
	path = ams_game/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ams_core/third_party/gcem"]
	path = ams_core/third_party/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "util/third_party/argparse"]
	path = util/third_party/argparse
	url = https://github.com/p-ranav/argparse.git
